@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Department department = ViewBag.department;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Department</title>
</head>
<body>
    <form method="post" action="DeleteSubmit">
        <p>@ViewBag.msg</p>
        <table>
            <tr>
                <td>Name</td>
                <td>
                    @Html.Label(department.Name)
                </td>
            </tr>
            <tr>
                <td>Location</td>
                <td>
                    @Html.Label(department.Location)
                </td>
            </tr>
            <tr>
                <td>Department Head</td>
                <td>
                    @Html.Label(department.DepartmentHead)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h1>Are you sure you want to delete Department: "@department.Name"?</h1>

                    <input type="submit" value="Delete" />
                </td>
            </tr>
        </table>

        <a href="/Department">View All</a>

        <input type="hidden" value="@department.Id" name="id" />
    </form>
</body>
</html>
