@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Department department = ViewBag.department;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Department</title>
</head>
<body>
    <form method="post">
        <p>@ViewBag.msg</p>
        <table>
            <tr>
                <td>Name</td>
                <td>
                    @*<input type="text" name="name" />*@
                    @Html.TextBox("name", department.Name)
                </td>
            </tr>
            <tr>
                <td>Location</td>
                <td>
                    @*<input type="text" name="location" />*@
                    @Html.TextBox("location", department.Location)
                </td>
            </tr>
            <tr>
                <td>Department Head</td>
                <td>
                    @*<input type="text" name="departmentHead" />*@
                    @Html.TextBox("departmentHead", department.DepartmentHead)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
        <a href="/Department">View All</a>

        <input type="hidden" value="@department.Id" name="id" />
    </form>
</body>
</html>
