@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Department> departments = ViewBag.departments;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Departments</title>
</head>
<body>
    <h1>Departments</h1>

    <h2>@TempData["msg"]</h2>

    <a href="/Department/Create">Create New Department</a>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Department Head</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var dept in departments)
            {
                <tr>
                    <td>@dept.Id</td>
                    <td>@dept.Name</td>
                    <td>@dept.Location</td>
                    <td>@dept.DepartmentHead</td>
                    <td>
                        <a href="/Department/Details?id=@dept.Id">Details</a> | 
                        <a href="/Department/Edit?id=@dept.Id">Edit</a> |
                        <a href="/Department/Delete?id=@dept.Id">Delete</a>

                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>