@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Employee employee = ViewBag.employee;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Employee</title>
</head>
<body>
    <form method="post" action="DeleteSubmit">
        <p>@ViewBag.msg</p>
        <table>
            <tr>
                <td>Name</td>
                <td>@Html.Label(employee.Name)</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@Html.Label(employee.Age.ToString())</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>@Html.Label(employee.Department.Name)</td>
            </tr>
            <tr>
                <td>Date Of Birth</td>
                <td>@Html.Label(employee.DateOfBirth.ToString())</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Delete" />
                </td>
            </tr>
        </table>

        <a href="/Employee">View All</a>

        <input type="hidden" value="@employee.Id" name="id" />
    </form>
</body>
</html>
